
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans{
    
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}
.color-orange{
  color: #FD6E0A;
}
.btn{
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.section-heading h2{
  font-weight: 35px;
  margin-bottom: 30px;
  
}
.section-heading p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
/* main style */
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    padding: 50px;
}
nav{
  width: 79%;
  max-width: 1536px;
  /* border: 1px solid red; */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
  align-items:center ;
}
nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
#bannar{
  /* border: 1px solid red; */
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bannar .bannar-content {
  max-width: 585px;
}
#bannar .bannar-content h2{
  font-size: 45px;
  font-weight: 600px;
  color: #474747;
  margin-bottom: 5px;
}
#bannar .bannar-content h1{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#bannar .bannar-content p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
#bannar .bannar-image img{
  max-width: 585px; 
  vertical-align: middle;
  color
}
#about{
  padding-top: 130px;
}
#about .about-container{
  width: 79%;
  max-width: ;: 1536px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 156px;
}
#about .about-container .about-info{
  display: flex;
  justify-content: space-around;

}
.about-info .info-card p{
  font-size: 20px;
  
  line-height: 30px;
  color: #757575;
}
.about-info .info-card h4{
  font-size: 20px;
}
#skills{
  padding-top: 130px;

}
#skills .skills-container{
  width: 79%;
  max-width: 1536px ;
  margin: 0 auto;
}
#skills .skills-container .skill-box{
  display: flex;
}